<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Unicorn</key>
	<dict>
		<key>AppId</key>
		<string>crm-xxxlaksjdflajsdfliajksdf</string>
		<key>Key</key>
		<string>lkjsdlkajsd</string>
	</dict>
	<key>TestArray</key>
	<array>
		<string>asdfasdf</string>
		<dict>
			<key>aaa</key>
			<string>nn</string>
		</dict>
	</array>
	<key>TestDictionary</key>
	<dict>
		<key>dic_level2</key>
		<dict>
			<key>dic_level3</key>
			<dict>
				<key>boolValue</key>
				<true/>
				<key>dateValue</key>
				<date>2016-02-23T06:50:02Z</date>
				<key>dataValue</key>
				<data></data>
				<key>stringValue</key>
				<string></string>
				<key>numberValue</key>
				<integer>199</integer>
				<key>dictValue</key>
				<dict>
					<key>value</key>
					<string>you got me</string>
				</dict>
				<key>arrayValue</key>
				<array>
					<string>you</string>
					<string>got</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>boolValue</key>
	<true/>
</dict>
</plist>
